{% block content %}
<html>
    <body>
        <form action = '/search_page' method="POST" style="float: right; font-family: Courier; color: white">
            Search: <input type="text" name="search_criteria" style="border: 2px solid gray; border-radius: 4px; width: 60%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box">  <input type="image" src="http://i38.photobucket.com/albums/e122/novafire7/search%20button_zpslkkma1et.png" name="search" style="vertical-align: middle">
        </form>
    </body>
</html>
{% endblock %}